
  
  .input-group {
    margin-bottom: 15px; 
  }
  
  .input-group .form-control {
    margin-right: 10px; 
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .text-danger {
    margin-top: 10px; 
  }
  
  button {
    width: 100%; 
  }
  