
  
  .input-group {
    margin-bottom: 15px; /* Espaço entre os grupos de input */
  }
  
  .input-group .form-control {
    margin-right: 10px; /* Espaço entre inputs lado a lado */
  }
  
  .mt-3 {
    margin-top: 1rem !important; /* Espaço superior consistente */
  }
  
  .text-danger {
    margin-top: 10px; /* Espaço superior para mensagens de erro */
  }
  
  button {
    width: 100%; /* Botão ocupa toda a largura do card */
  }
  