@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


.title-projects {
    text-align: center;
    margin-top: 30px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 45px;
    margin-left: 20px;
}

.text {
    font-weight: 500;
    font-size: 15px;
}

.projects-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.class-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 20px; 
    margin-left: 50px;
    max-width: 1200px; 
    margin-top: 40px;
}



.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

#view-students-button {
    font-weight: 700;
    border: none;
    background-color: #4e2050;
}

#view-students-button:hover {
    background-color: #6a3a6b;
}

#class-card-title {
    font-family: "Dela Gothic One", sans-serif;
}

#background-modal {
    color: #ffffff;
    background-color: #6a3a6b;
}

#bnt-modal {
    border: none;
    background-color: #343A40;
    color: #ffffff;
    font-weight: 500;
}

#bnt-modal:hover{
    background-color: #495057;
}


#bnt {
    border: none;
    font-weight: 700;
}

#bnt:hover {
    background-color:  #66b3ff;;
}


